<div id="loginModal" class="ui small modal">
  <i class="close icon"></i>
  <div class="header">
    <span ng-show="signingUp">Sign Up</span>
    <span ng-show="!signingUp">Sign In</span>
  </div>
  <div class="content">
    <div class="description">
      <div class="ui header">
        <span ng-show="signingUp">Already a user? <a ng-click="signingUp = false">login</a></span>
        <span ng-show="!signingUp">Please sign in or <a ng-click="signingUp = true">register</a></span>
      </div>

      <div class="ui negative message" ng-if="loginErr">
        <div class="header">
          {{loginErr}}
        </div>
        <p>Try again.</p>
      </div>

      <form class="ui form" ng-show="!signingUp" ng-submit="signIn()">
        <div class="field" ng-class="{ error: loginErr }">
          <label>Username</label>
          <input type="text" placeholder="Username" ng-model="form.username">
        </div>
        <div class="field" ng-class="{ error: loginErr }">
          <label>Password</label>
          <input type="password" placeholder="Password" ng-model="form.password">
        </div>
        <button type="submit" ng-show="false">
          Sign In
        </button>
      </form>

      <div class="ui negative message" ng-if="signUpErr">
        <div class="header">
          {{signUpErr}}
        </div>
        <p>Try again.</p>
      </div>

      <form class="ui form" ng-show="signingUp" ng-submit="signUp()">
        <div class="field" ng-class="{ error: signUpErr }">
          <label>Username</label>
          <input type="text" placeholder="Username" ng-model="form.username">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" placeholder="Password" ng-model="form.password">
        </div>
        <div class="field">
          <label>Confirm Password</label>
          <input type="password" placeholder="Password" ng-model="form.confirm_pw">
        </div>
        <p style="color: #e74c3c" ng-show="form.password !== form.confirm_pw">Passwords Do Not Match!</p>

        <button type="submit" ng-show="false">
          Sign Up
        </button>
      </form>
      <br>
      <p>Or login with:</p>

      <a href="/auth/facebook" class="ui facebook button">
        <i class="facebook icon"></i>
        Facebook
      </a>
      <!-- <button class="ui twitter button">
        <i class="twitter icon"></i>
        Twitter
      </button> -->
      <!-- <a href="/auth/google" class="ui google plus button">
        <i class="google plus icon"></i>
        Google Plus
      </a> -->
    </div>
  </div>
  <div class="actions">
     <div class="ui black deny button">
      Cancel
    </div>
    <button ng-show="!signingUp" class="ui positive button" ng-click="signIn()">
      Sign In
    </button>
    <button type="submit" ng-show="signingUp" class="ui blue button" ng-click="signUp()">
      Sign Up
    </button>
  </div>
</div>