<div class="ui text menu">
  <div class="item">
    <img src="https://dkstatic.s3.amazonaws.com/lp/dk_brand/DK2015/logo/Stacked_FullColor_NoTagline.png">
  </div>
  <div class="item">
    2016 Season Week 1
  </div>
  <div class="ui right dropdown item">
    More
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" ng-click="exportToCSV()">Export All</div>
      <div class="item">Export Individual Lineups</div>
      <div class="item">Manage Lineups</div>
    </div>
  </div>
</div>
<div class="ui divider"></div>
<div ng-repeat="l in lineups" style="text-align: center">
	<div class="ui ten column grid">
		<div class="column">
			<img class="ui tiny avatar image" src="{{mappedData[l.qb].photo}}">
			<p>{{mappedData[l.qb].full_name}}</p>
		</div>
		<div class="column">
			<img class="ui tiny avatar image" src="{{mappedData[l.rb1].photo}}">
			<p>{{mappedData[l.rb1].full_name}}</p>
		</div>
		<div class="column">
			<img class="ui tiny avatar image" src="{{mappedData[l.rb2].photo}}">
			<p>{{mappedData[l.rb2].full_name}}</p>	
		</div>
		<div class="column">
			<img class="ui tiny avatar image" src="{{mappedData[l.wr1].photo}}">
			<p>{{mappedData[l.wr1].full_name}}</p>	
		</div>
		<div class="column">
			<img class="ui tiny avatar image" src="{{mappedData[l.wr2].photo}}">
			<p>{{mappedData[l.wr2].full_name}}</p>		
		</div>
		<div class="column">
			<img class="ui tiny avatar image" src="{{mappedData[l.wr3].photo}}">
			<p>{{mappedData[l.wr3].full_name}}</p>
		</div>
		<div class="column">
			<img class="ui tiny avatar image" src="{{mappedData[l.te].photo}}">
			<p>{{mappedData[l.te].full_name}}</p>			
		</div>
		<div class="column">
			<img class="ui tiny avatar image" src="{{mappedData[l.flex].photo}}">
			<p>{{mappedData[l.flex].full_name}}</p>	
		</div>
		<div class="column">
			<img class="ui tiny avatar image" src="{{mappedData[l.dst].photo}}">
			<p>{{mappedData[l.dst].full_name}}</p>	
		</div>
		<div class="column">
			<div class="ui labeled input" style="margin-top: 45%">
			  <div class="ui label">
			    X
			  </div>
			  <input type="text" ng-model="l.count" style="width: 10%;">
			</div>
		</div>
	</div>
	<div class="ui divider"></div>
</div>