<div class="padding">
    <div style="max-width: 800px; margin: 20px auto;">
        <h1 class="ui header">
            {{story.title}}
            <div class="sub header">By {{story.author}} | Published: {{story.date | date: 'medium'}}</div>
        </h1>
        <img class="ui huge image" ng-src="{{story.photos[1].src}}">
        <p ng-bind-html="story.story_body" style="margin: 20px 0;"></p>
    </div>
</div>