<div class="item">
    <a class="ui tiny circular image">
        <img ng-src="https://auth.cbssports.com/images/players/unknown-player-170x170.png">
    </a>
    <div class="middle aligned content">
        <a class="header">Select Player</a>
        <div class="description">
            
        </div>
    </div>
    <div class="right floated content" style="margin: auto 0px">
        
    </div>
</div>