<table class="ui blue table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Team</th>
            <th>Projected</th>
            <th>Salary</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="d in data | filter: filter" ng-class="{ locked: d.locked, excluded: d.excluded, disabled: positionFilled(d.position) }">
            <td>{{d.position}} <a ng-click="openModal(d)">{{d.full_name || d.name}}</a></td>
            <td>{{d.team}}</td>
            <td>{{d.dk_total | number: 2}}</td>
            <td>${{d.salary || 0 | number}}</td>
            <td>
                <button class="circular ui icon button" ng-class="{ grey: d.locked }" ng-click="addPlayer(d); lockPlayer(d)" style="pointer-events: all" ng-disabled="positionFilled(d.position) && !d.locked">
                    <i class="lock icon"></i>
                </button>
                <button ng-click="removePlayer(d)" class="ui red circular icon button" style="pointer-events: all">
                    <i class="remove icon"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>