<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Fan Lineups</h1>
        <p class="splash-subhead">
            Build Your Next Winning Linuep!
        </p>
    </div>
</div>
<!-- <div class="content-wrapper">
    <div class="content-parallax">
      
    </div>
</div>
 -->
<login-modal></login-modal>

<style type="text/css">
	body {
		padding: 0;
	}

	.splash-container {
	    background: url(https://images.unsplash.com/photo-1454560830408-e68fb19d3e8c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5a52d6476753ae9ed742299e0a8a1216) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	    z-index: -1;
	    overflow: hidden;
	    /* The following styles are required for the "scroll-over" effect */
	    width: 100%;
	    /*height: 88%;*/
	    height: 100%;
	    top: 0;
	    left: 0;
	    position: fixed !important;
	}

	.splash {
	    /* absolute center .splash within .splash-container */
	    width: 80%;
	    height: 20%;
	    margin: auto;
	    position: absolute;
	    top: 100px; left: 0; bottom: 0; right: 0;
	    text-align: center;
	    text-transform: uppercase;
	}

	/* This is the main heading that appears on the blue section */
	.splash-head {
	    font-size: 20px;
	    font-weight: bold;
	    color: white;
	    border: 3px solid white;
	    padding: 1em 1.6em;
	    font-weight: 100;
	    border-radius: 5px;
	    line-height: 1em;
	}

	/* This is the subheading that appears on the blue section */
	.splash-subhead {
	    color: white;
	    letter-spacing: 0.05em;
	    opacity: 0.8;
	    padding: 10px;
	}

	.content-wrapper {
	    /* These styles are required for the "scroll-over" effect */
	    position: absolute;
	    top: 87%;
	    width: 100%;
	    min-height: 12%;
	    z-index: 2;
	    background: white;

	}

	/* This is the class used for the main content headers (<h2>) */
	.content-head {
	    font-weight: 400;
	    text-transform: uppercase;
	    letter-spacing: 0.1em;
	    margin: 2em 0 1em;
	}

	.content-parallax {
	  height: 1000px;
	}

</style>