<div class="ui items">
    <selected-player ng-if="lineup.qb" player="lineup.qb" position="'QB'"></selected-player>
    <unselected-player ng-if="!lineup.qb"></unselected-player>

    <div style="text-align: center" ng-show="qb.swap">
        <span ng-repeat="s in qb.swapPlayers" ng-click="swapPlayer('qb', s)">
            <img class="ui avatar image" src="{{s.photo}}">
            <a>{{s.name}} (${{s.salary}})</a>
        </span>
    </div>

    <selected-player ng-if="lineup.rb1" player="lineup.rb1" position="'RB1'"></selected-player>
    <unselected-player ng-if="!lineup.rb1"></unselected-player>

    <div style="text-align: center" ng-show="rb1.swap">
        <span ng-repeat="s in rb1.swapPlayers" ng-click="swapPlayer('rb1', s)">
            <img class="ui avatar image" src="{{s.photo}}">
            <a>{{s.name}} (${{s.salary}})</a>
        </span>
    </div>

    <selected-player ng-if="lineup.rb2" player="lineup.rb2" position="'RB2'"></selected-player>
    <unselected-player ng-if="!lineup.rb2"></unselected-player>

    <div style="text-align: center" ng-show="rb2.swap">
        <span ng-repeat="s in rb2.swapPlayers" ng-click="swapPlayer('rb2', s)">
            <img class="ui avatar image" src="{{s.photo}}">
            <a>{{s.name}} (${{s.salary}})</a>
        </span>
    </div>

    <selected-player ng-if="lineup.wr1" player="lineup.wr1" position="'WR1'"></selected-player>
    <unselected-player ng-if="!lineup.wr1"></unselected-player>

    <div style="text-align: center" ng-show="wr1.swap">
        <span ng-repeat="s in wr1.swapPlayers" ng-click="swapPlayer('wr1', s)">
            <img class="ui avatar image" src="{{s.photo}}">
            <a>{{s.name}} (${{s.salary}})</a>
        </span>
    </div>

    <selected-player ng-if="lineup.wr2" player="lineup.wr2" position="'WR2'"></selected-player>
    <unselected-player ng-if="!lineup.wr2"></unselected-player>

    <div style="text-align: center" ng-show="wr2.swap">
        <span ng-repeat="s in wr2.swapPlayers" ng-click="swapPlayer('wr2', s)">
            <img class="ui avatar image" src="{{s.photo}}">
            <a>{{s.name}} (${{s.salary}})</a>
        </span>
    </div>

    <selected-player ng-if="lineup.wr3" player="lineup.wr3" position="'WR3'"></selected-player>
    <unselected-player ng-if="!lineup.wr3"></unselected-player>

    <div style="text-align: center" ng-show="wr3.swap">
        <span ng-repeat="s in wr3.swapPlayers" ng-click="swapPlayer('wr3', s)">
            <img class="ui avatar image" src="{{s.photo}}">
            <a>{{s.name}} (${{s.salary}})</a>
        </span>
    </div>

    <selected-player ng-if="lineup.te" player="lineup.te" position="'TE'"></selected-player>
    <unselected-player ng-if="!lineup.te"></unselected-player>

    <div style="text-align: center" ng-show="te.swap">
        <span ng-repeat="s in te.swapPlayers" ng-click="swapPlayer('te', s)">
            <img class="ui avatar image" src="{{s.photo}}">
            <a>{{s.name}} (${{s.salary}})</a>
        </span>
    </div>

    <selected-player ng-if="lineup.flex" player="lineup.flex" position="'FLEX'"></selected-player>
    <unselected-player ng-if="!lineup.flex"></unselected-player>

    <div style="text-align: center" ng-show="flex.swap">
        <span ng-repeat="s in flex.swapPlayers" ng-click="swapPlayer('flex', s)">
            <img class="ui avatar image" src="{{s.photo}}">
            <a>{{s.name}} (${{s.salary}})</a>
        </span>
    </div>

    <selected-player ng-if="lineup.dst" player="lineup.dst" position="'DST'"></selected-player>
    <unselected-player ng-if="!lineup.dst"></unselected-player>

    <div style="text-align: center" ng-show="dst.swap">
        <span ng-repeat="s in dst.swapPlayers" ng-click="swapPlayer('dst', s)">
            <img class="ui avatar image" src="{{s.photo}}">
            <a>{{s.name}} (${{s.salary}})</a>
        </span>
    </div>
</div>

