<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Admin Dashboard</title>
	<script type="text/javascript" src="/lib/javascripts/angular/angular.min.js"></script>
</head>
<body ng-controller="appController">
	<h3>Enter dk data</h3>
	<textarea ng-model="csv"></textarea>
	<button ng-click="saveData()">Enter</button>

	<script type="text/javascript">
		var app = angular.module('app', []);
		app.controller('appController', function ($scope, $http) {
			$scope.saveData = function () {
				$http.post('/players/dk_data', { data: $scope.csv })
					.success( function (data) {
						console.log(data);
					});
			}
		});
	</script>
</body>
</html>