<!DOCTYPE html>
<html>

<head>
    <title>Fan Lineups</title>
    <!-- Semantic-UI -->
    <link href="lib/javascripts/semantic/dist/semantic.min.css" rel="stylesheet">
    <link href="lib/javascripts/sweetalert/dist/sweetalert.css" rel="stylesheet">
    <link href="lib/stylesheets/style.css" rel="stylesheet">
</head>

<body>
  <div id="preloader">
    <div id="status"></div>
  </div>

  <div id="nav" class="ui inverted top fixed menu">
    <div class="item">
      <div class="header">
        <div>Fan<span>Lineups</span></div>
      </div>
    </div>

    <a class="item" ui-sref="home">Home</a>
    <a class="item" ui-sref="lineup" ng-if="signedIn">Lineup Generator</a>
    <a class="item" ui-sref="saved" ng-if="signedIn">Saved Lineups</a>
    <a class="item" ui-sref="news" ng-if="signedIn">Fantasy News</a>
    
    <div class="right menu" ng-if="!signedIn">
      <div class="item">
        <a onclick="$('#loginModal').modal('show')">Sign In</a>
      </div>
    </div>
  
    <div class="right menu" ng-if="signedIn">
      <div class="item">
          <!-- <img src="/images/logo.png"> -->
          Hi, {{user.name}}
      </div>
      <div class="item">
        <a href="/auth/signout">Sign Out</a>
      </div>
    </div>
  </div>

  <div ui-view></div>

  <script type="text/javascript" src='lib/javascripts/jquery/dist/jquery.min.js'></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#status').fadeOut();
      $('#preloader').delay(300).fadeOut('slow');
    });
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65864696-3', 'auto');
    if (window.location.hostname !== "localhost") {
      ga('send', 'pageview');
    }
  </script>
  <script data-main="main.js" src="lib/javascripts/requirejs/require.js"></script>
</body>

</html>