<div style="padding: 15px 200px;">
    <div class="ui items">
        <div class="item" ng-repeat="n in news">
            <div class="ui medium image">
                <img ng-src="{{n.photos[0].src}}">
            </div>
            <div class="content">
                <div class="header">{{n.title}}</div>
                <div class="meta">
                    <span class="price">Published: {{n.date | date}}</span>
                    <!--<span class="stay">1 Month</span>-->
                </div>
                <div class="description">
                    <p>{{n.synopsis}} <a href="/#/fantasy_story/{{n.id}}">Read</a></p>
                </div>
            </div>
        </div>
    </div>
</div>