@import url(http://fonts.googleapis.com/css?family=Roboto:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body {
  padding: 65px;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

#nav .header div{
	float: left;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

#nav .header div span{
	color: #3498db !important;
}

#nav {
	background-color: #2D363B;
}

#nav a {
	color: white;
}

#nav a:hover {
	background-color: #3498db;
}

#nav a:focus {
	background-color: #3498db;
}

a.selected {
	color: black;
}

.padding {
	padding: 15px !important;
}

.no-margin {
	margin: 0 !important;
}

.font-red {
	color: #e74c3c;
}

.font-green {
	color: #2ecc71;
}

/* Splash */
#preloader {
	background: #FFF;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}

#status {
	background-image: url(../images/preloader.gif);
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}

/* Lineup */
#positionTabs {
	display: -webkit-inline-box;
}

#playerSearch {
	float: right;
}

/* Selected Player */
.locked {
	background-color: rgba(46, 204, 113, 0.6) !important;
}

.excluded {
	background-color: rgba(231, 76, 60, 0.6) !important;
}

.gray-out {
	background-color: rgba(189, 195, 199, 0.6) !important;
}
