<!-- <h2 class="ui icon center aligned header">
	<i class="settings icon"></i>
	<div class="content">
		Lineup Generator Tool
		<div class="sub header">Manage your lineups.</div>
	</div>
</h2> -->

<div class="ui two column grid" ng-cloak>
    <div class="column">
        <div id="positionTabs" class="ui secondary pointing tabular menu" ng-show="players.length">
            <a class="active item" data-tab="QB">QB</a>
            <a class="item" data-tab="RB">RB</a>
            <a class="item" data-tab="WR">WR</a>
            <a class="item" data-tab="TE">TE</a>
            <a class="item" data-tab="FLEX">FLEX</a>
            <a class="item" data-tab="DEF">DEF</a>
        </div>

        <div id="playerSearch" class="ui input" ng-show="players.length">
          <input ng-model="search" ng-model-options="{ debounce: 100 }" type="text" placeholder="Search Player">
        </div>

        <div ng-show="!loading && players.length">
            <div class="ui bottom attached active tab" data-tab="QB">
                <player-table data="players" filter="{ position: 'QB', name: search }" position="'QB'"></player-table>
            </div>
            <div class="ui bottom attached tab" data-tab="RB">
                <player-table data="players" filter="{ position: 'RB', name: search }" position="'RB'"></player-table>
            </div>
            <div class="ui bottom attached tab" data-tab="WR">
                <player-table data="players" filter="{ position: 'WR', name: search }" position="'WR'"></player-table>
            </div>
            <div class="ui bottom attached tab" data-tab="TE">
                <player-table data="players" filter="{ position: 'TE', name: search }" position="'TE'"></player-table>
            </div>
            <div class="ui bottom attached tab" data-tab="FLEX">
                <player-table data="players" filter="filterByFlex" position="'FLEX'"></player-table>
            </div>
            <div class="ui bottom attached tab" data-tab="DEF">
                <player-table data="players" filter="{ position: 'DST', name: search }" position="'DST'"></player-table>
            </div>
        </div>
        <div class="ui segment" style="height: 600px" ng-if="loading">
          <div class="ui active inverted dimmer">
            <div class="ui text loader">Loading</div>
          </div>
          <p></p>
        </div>
    </div>
    <div class="column">
        <!-- <h4 class="ui horizontal divider header">
          <i class="game icon"></i>
          Daily Fantasy Football
        </h4>
        <button class="ui black button">Draft Kings</button>
        <button class="ui blue inverted button">Fan Duel</button>

        <h4 class="ui horizontal divider header">
          <i class="line chart icon"></i>
          Projections
        </h4>
        <button class="ui red button">ESPN</button> -->
        <div class="ui grid" style="margin-bottom: 5px">
            <div class="sixteen wide column" style="text-align: center">
                <h3 style="display: inline-block">Sign up and play at <a href="https://www.draftkings.com/r/raymondf22" target="_blank">Draft Kings</a> or <a href="https://www.fanduel.com/?invitedby=raymondf22&cnl=da" target="_blank">Fan Duel</a></h3>

                <div class="ui icon top left pointing dropdown right floated button">
                  <i class="filter icon"></i>
                  <div class="menu">
                    <div class="header">Salaries</div>
                    <div class="item" ng-click="changeSalaryData('DK')">
                        <i class="check icon" ng-show="salaryData === 'DK'"></i>
                        Draft Kings
                    </div>
                    <!-- <div class="item" ng-click="changeSalaryData('FD')">
                        <i class="check icon" ng-show="salaryData === 'FD'"></i>
                        Fan Duel
                    </div> -->
                    <div class="ui divider"></div>
                    <div class="header">Projections</div>
                    <div class="item" ng-click="changeProjectionData('ESPN')">
                        <i class="check icon" ng-show="projectionData === 'ESPN'"></i>
                        ESPN
                    </div>
                    <div class="item" ng-click="changeProjectionData('NFL')">
                        <i class="check icon" ng-show="projectionData === 'NFL'"></i>
                        NFL.com
                    </div>
                  </div>
                </div>

                <div class="ui icon top left pointing dropdown right floated button">
                  <i class="options icon"></i>
                  <div class="menu">
                    <div class="header">Sports</div>
                    <div class="item" ng-click="">
                        <i class="check icon" ng-show="true"></i>
                        NFL
                    </div>
                    <div class="item" ng-click="">
                        <i class="check icon" ng-show="false"></i>
                        NBA
                    </div>
                  </div>
                </div>

            </div>

            <div ng-show="players.length" class="four column row">
                <div class="column">
                    <h5>Remaining Salary: 
                        <span ng-class="{ 'font-green': remainingSalary >= 0, 'font-red': remainingSalary < 0 }">
                            ${{remainingSalary | number}}
                        </span>
                    </h5>
                </div>
                <div class="column">
                    <h5>Projected Points: {{lineupTotal | number: 2}}</h5>
                </div>
                <div class="column">
                    <button class="ui blue icon fluid button" ng-click="exportToCSV()">
                        CSV
                        <i class="download icon"></i>
                    </button>
                </div>
                <div class="column">
                    <button class="ui green icon fluid button" ng-click="optimizeLineup()" ng-disabled="!optimizable">
                        Optimize
                        <i class="lightning icon"></i>
                    </button>
                </div>
            </div>
        </div>
            
        <player-lineup ng-show="!loading && players.length"></player-lineup>
        <div class="ui segment" style="height: 600px" ng-if="loading">
          <div class="ui active inverted dimmer">
            <div class="ui text loader">Loading</div>
          </div>
          <p></p>
        </div>
        <button class="ui green icon fluid button" ng-click="saveLineup()" ng-show="players.length">
            Save Lineup
            <i class="upload icon"></i>
        </button>
    </div>
    <div class="one column row" ng-if="players && !players.length">
        <h1 style="margin: auto">No Data. Come back later!</h1>
    </div>
</div>

<player-detail-modal></player-detail-modal>