<div class="item padding no-margin" ng-class="{ locked: player.locked, excluded: player.excluded }">
    <a class="ui tiny circular image">
        <img ng-src="{{player.photo || 'https://auth.cbssports.com/images/players/unknown-player-170x170.png'}}">
    </a>
    <div class="middle aligned content">
        <a class="header" ng-click="openModal(player)">{{player.full_name || player.name}} (${{player.salary | number}})</a>
        <div class="meta">
            <span class="cinema">Projected Stats</span>
        </div>
        <div class="description">
            <div ng-if="player.position === 'QB'" class="ui four column grid">
                <div class="column">{{player.p_yds}} <br> YDS</div>
                <div class="column">{{player.p_tds}} <br> TD</div>
                <div class="column">{{player.p_ints}} <br> INT</div>
                <div class="column">{{player.dk_total | number: 2}} <br> PTS</div>
            </div>
            <div ng-if="player.position === 'RB'" class="ui four column grid">
                <div class="column">{{player.r_yds}} <br> YDS</div>
                <div class="column">{{player.r_tds}} <br> TD</div>
                <div class="column">{{player.dk_total | number: 2}} <br> PTS</div>
            </div>
            <div ng-if="player.position === 'WR' || player.position === 'TE'" class="ui four column grid">
                <div class="column">{{player.rec_catches}} <br> REC</div>
                <div class="column">{{player.rec_yds}} <br> YDS</div>
                <div class="column">{{player.rec_tds}} <br> TD</div>
                <div class="column">{{player.dk_total | number: 2}} <br> PTS</div>
            </div>
            <div ng-if="player.position === 'DST'" class="ui one column grid">
                <div class="column">{{player.dk_total | number: 2}} <br> PTS</div>
            </div>
        </div>
    </div>
    <div class="right floated content">
        <button ng-click="removePlayer()" class="ui red circular icon button" style="float: right">
            <i class="remove icon"></i>
        </button>
        <button ng-click="showSwappablePlayers()" class="ui blue circular icon button" style="float: right" ng-disabled="player.excluded">
            <i class="refresh icon"></i>
        </button>
        <button ng-click="lockPlayer()" class="ui circular icon button" ng-class="{ grey: player.locked }" style="float: right" ng-disabled="player.excluded">
            <i class="lock icon"></i>
        </button>
    </div>
</div>