<div id="playerDetailModal" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    {{currentPlayer.full_name}} | {{currentPlayer.position}}
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img ng-src="{{currentPlayer.photo}}">
    </div>
    <div class="description">
      <div class="ui header">Player News</div>

    </div>
  </div>
  <!-- <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <div class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div> -->
</div>